{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Agenda
</h2>

<div id="Calendar"></div>

<link
    href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css"
    rel="stylesheet"
>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('Calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'dayGridMonth',

        locale: 'pt-br',

        height: 450,

        events: [

            {% for sessao in sessoes %}

            {

                title: '{{ sessao.paciente.nome }}',

                start: '{{ sessao.data }}T{{ sessao.hora }}',

            },

            {% endfor %}

        ]

    });

    calendar.render();

});

</script>

{% endblock %}