{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row">

    <!-- PACIENTES -->
    <div class="col-md-3 mb-4">

        <div class="card shadow-sm border-0 bg-primary text-white">

            <div class="card-body">

                <h6>
                    Pacientes
                </h6>

                <h2>
                    {{ total_pacientes }}
                </h2>

            </div>

        </div>

    </div>

    <!-- SESSÕES -->
    <div class="col-md-3 mb-4">

        <div class="card shadow-sm border-0 bg-success text-white">

            <div class="card-body">

                <h6>
                    Sessões
                </h6>

                <h2>
                    {{ total_sessoes }}
                </h2>

            </div>

        </div>

    </div>

    <!-- PAGAMENTOS -->
    <div class="col-md-3 mb-4">

        <div class="card shadow-sm border-0 bg-warning">

            <div class="card-body">

                <h6>
                    Pagamentos
                </h6>

                <h2>
                    {{ total_pagamentos }}
                </h2>

            </div>

        </div>

    </div>

    <!-- FATURAMENTO -->
    <div class="col-md-3 mb-4">

        <div class="card shadow-sm border-0 bg-dark text-white">

            <div class="card-body">

                <h6>
                    Faturamento
                </h6>

                <h2>
                    R$ {{ total_faturado }}
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}