{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h2>Pacientes</h2>

    <a href="/pacientes/novo/" class="btn btn-dark">
        Novo Paciente
    </a>

</div>

<table class="table table-striped">

    <thead>

        <tr>

            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>

        </tr>

    </thead>

    <tbody>

        {% for paciente in pacientes %}

        <tr>

            <td>{{ paciente.nome }}</td>

            <td>{{ paciente.telefone }}</td>

            <td>{{ paciente.email }}</td>

            <td>

                <a
                    href="/pacientes/editar/{{ paciente.id }}/"
                    class="btn btn-sm btn-warning"
                >
                    Editar
                </a>

                <a
                    href="/pacientes/deletar/{{ paciente.id }}/"
                    class="btn btn-sm btn-danger"
                >
                    Deletar
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}